.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: calc(100vh - 8px);
  transition: padding 0.75s;
}

@media (max-width: 960px) {
  .container {
    padding: 0 20px;
  }
}

.mainSection {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.headerText {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 24px;
  color: var(--black);
}

.swe {
  color: var(--primary-color);
}

.subText {
  font-size: 20px;
  color: var(--dark-grey);
  line-height: 28px;
  margin-bottom: 26px;
  max-width: 48rem;
}

.underbar {
  height: 2px;
  width: 95px;
  background-color: var(--light-grey);
}
