:global(.light-theme) {
  --primary-color: #44d7b6;
  --secondary-color: #7d44d7;
  --white: #f2fbfe;
  --dark-white: #eeeeee;
  --light-grey: #dddddd;
  --grey: #979797;
  --dark-grey: #696868;
  --light-black: #323232;
  --black: #242423;
}

:global(.dark-theme) {
  --primary-color: #44d7b6;
  --secondary-color: #44d7b6;
  --white: #242423;
  --dark-white: #323232;
  --light-grey: #696868;
  --grey: #979797;
  --dark-grey: #dddddd;
  --light-black: #eeeeee;
  --black: #f2fbfe;
}

:global(.dark-theme),
:global(.light-theme) {
  border-top: 8px solid var(--dark-white);
}

:global(:root) {
  --header-font: 'Playfair Display', serif;
  --body-font: 'Rubik', sans-serif;
  --invisible-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: bolder;
}

p,
a,
li {
  font-family: var(--body-font);
}

a:hover {
  color: var(--secondary-color);
}

a:active {
  color: var(--primary-color);
}
