.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 8px;
}

.header {
  /* border-top: 8px solid var(--primary-color); */
  padding: 26px 0;
}

.headerText {
  text-decoration: none;
  font-family: var(--header-text);
  font-weight: 900;
  font-size: 24px;
  color: var(--light-black);
}

@media (max-width: 600px) {
  .headerText {
    font-size: 16px;
  }
}

.navbarSpacer {
  flex-grow: 1;
  min-width: 24px;
}

.navItems {
  display: flex;
  flex-direction: row;
}

.link {
  display: inline-block;
  padding: 44px 0 24px 0;
  margin: 0 24px;
  color: var(--grey);
  text-decoration: none;
  transition: margin 0.75s, padding 0.15s;
}

.link:hover {
  padding: 41px 0 25px 0;
}

@media (max-width: 960px) {
  .link {
    margin: 0 16px;
  }
}

.activeNavItem {
  color: var(--secondary-color);
}

.resumeSection {
  margin-left: auto;
  align-self: center;
}

.resumeSection a {
  color: var(--secondary-color);
  background-color: var(--dark-white);
  padding: 12px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.resumeSection a i {
  margin-right: 4px;
  font-size: 16px;
}
